footer#footer.footer
    .container
        p.text-muted
            a(href='http://www.ece.fr') ECE Paris
            | #{' '}project done by#{' '}
            a(href='https://github.com/theofidry') Théo FIDRY
            | #{' '}and#{' '}
            a(href='https://github.com/Estellou') Estelle LATRONICO
            | .
            span#github
                img.github-icon(src='/img/logos/GitHub.png')
                | #{' '}
                a(href='https://github.com/theofidry/AST-HelloWorld') GitHub Project.
script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/app.js')
