footer#footer.footer
    .container
        p.text-muted
            a(href='http://www.ece.fr') ECE Paris
            | #{' '}project done by#{' '}
            a(href='https://github.com/theofidry') Théo FIDRY
            | #{' '}and#{' '}
            a(href='https://github.com/Estellou') Estelle LATRONICO
            | .
            span#github
                img.github-icon(src='/img/logos/GitHub.png')
                | #{' '}
                a(href='https://github.com/theofidry/AST-HelloWorld') GitHub Project.
script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
script(type='text/javascript', src='/app.min.js')
